.homepagebutton {
	box-shadow:inset -9px 60px 0px -16px #eeff00;
	background-color:#cddb00;
	border-radius:4px;
	border:7px solid #000000;
	display:inline-block;
	cursor: pointer;
	color:black ;
	font-family:Arial;
	font-size:15px;
	padding:20px 80px;
	text-decoration:none;
}
.homepagebutton:hover {
	box-shadow:inset -9px 60px 0px -16px #b7c402;
	background-color:#97a102;
}
.homepagebutton:active {
	position:relative;
	top:2.5px;
}
